{% extends "base.html" %}


{% block title %}
    Мой профиль
{% endblock %}

{% block styles %}
    <style>
        div.login-button {
            display: none;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="d-flex justify-content-center">
        <div class="card h-10 mt-2" style="width: 15rem;">
            <img src="
                        {% if user_obj.profile.image %}
                        {{ user_obj.profile.image.url }}
                        {% else %}
                        https://flomaster.top/uploads/posts/2023-01/1673563884_flomaster-club-p-profil-risunok-vkontakte-4.jpg
                        {% endif %}" 
                        alt="CATEGORY IMAGE"
                        style="object-fit: cover;"
                        class="card-img-top h-10">
        </div>
    </div>
    <h1>{{ user_obj.username }}</h1>

        {% if is_follow == True %}
            <a href="{% url 'unfollow_user' user_obj.id %}">Отменить подписку</a>
        {% else %}
            <a href="{% url 'follow_user' user_obj.id %}">Подписаться</a>
        {% endif %}

    <h3>Подписан - {{ user_obj.following.all.count }}</h3>
    <h3>Подписчики - {{ user_obj.followers.all.count }}</h3>
    <ul>
        {% for follow in following_users %}
            {{ follow.username }}
        {% endfor %}
        <br>
        {% for follower in follower_users %}
            {{ follower.username }}
        {% endfor %}
    </ul>

    <div class="mt-3">
        <h3>{{ user_obj.get_full_name }}</h3>
    </div>
    <div class="mt-3">
        {{ user_obj.profile.status_profile }}
    </div>
{% with public_list=user_obj.public.all %}
    {% include "public_mine.html" %}
{% endwith %}
{% endblock %}
