{% extends "base.html" %}


{% block title %}
    Публикация
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center me-3 mt-3">
<div class="card h-100 mt-5 " style="width: 50rem;" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="d-flex justify-content-center">
                    <div class="card h-100 mt-2" style="width: 3rem;">
                        <img src="
                                    {% if public.author.profile.image %}
                                    {{ public.author.profile.image.url }}
                                    {% else %}
                                    https://flomaster.top/uploads/posts/2023-01/1673563884_flomaster-club-p-profil-risunok-vkontakte-4.jpg
                                    {% endif %}" 
                                    alt="CATEGORY IMAGE"
                                    style="object-fit: cover;"
                                    class="card-img-top h-10">
                    
                    </div>
                    {% if request.user.id == public.author.id %}
                        <h3><a class="nav-link" href="{% url 'my_profile' %}" tabindex="1" aria-disabled="true">{{ public.author }}</a></h3>
                    {% else %}
                        <h3><a class="nav-link" href="{% url 'profile_detail' pk=public.author.pk %}" tabindex="1" aria-disabled="true">{{ public.author }}</a></h3>
                    {% endif %} 
                <div class="d-flex justify-content-center mt-3">
                    {{ public.created }}
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="card h-10 mt-3" style="width: 40rem;">  
                        
                    <img src="
                                {% if public.images_public %}
                                {{ public.images_public.url }}
                                {% else %}
                                https://png.klev.club/uploads/posts/2024-05/thumbs/png-klev-club-ofte-p-novii-post-png-15.png
                                {% endif %}" 
                                alt="CATEGORY IMAGE"
                                style="object-fit: cover;"
                                class="card-img-top h-10">
                </div>
            </div>

            <div class="d-flex justify-content-center me-3 mt-3">
                <h4>{{ public.informations }}</h4>
            </div>  
            <div>
                <div>
                    <div style="margin-top: 10px; width: 80px; height: 30px; margin-left: 650px;" id="like_button_{{public.pk}}" onclick="likePublic('{{ public.pk }}')">                                          
                        <button style="background: transparent; box-shadow: none;" type="submit">  
                            <div style="width: 20px;">
                                <img src="https://png.pngitem.com/pimgs/s/12-129039_thumb-signal-computer-icons-emoji-clip-art-green.png"
                                    alt="CATEGORY IMAGE"
                                    style="object-fit: cover;"
                                    class="card-img-top h-10">
                                <span id="likes_{{public.pk}}">{{ public.likes.all.count }}</span>
                            </div>
                        </button>
                    </div>

        
                        <div style="margin-top: -30px; width: 80px; height: 30px; margin-left: 720px;"id="dislike_button_{{public.pk}}" onclick="dislikePublic('{{ public.pk }}')">
                            <button style="background: transparent; box-shadow: none;" type="submit">
                                <div style="width: 20px;">
                                    <img src="https://www.pngitem.com/pimgs/m/40-405973_red-thumbs-down-png-png-download-thumbs-down.png"
                                        alt="CATEGORY IMAGE"
                                        style="object-fit: cover;"
                                        class="card-img-top h-10">
                                    <span id="dislikes_{{public.pk}}">{{ public.dislikes.all.count }}</span>
                                </div>
                            </button>
                        </div>
                </div>
                <div class="mt-3"> 
                    <p>Комментарии:</p>
                    <hr>
                        {% for item in public.comment_public.all|dictsortreversed:"create_date_comment" %}
                            <ul>
                                {{ item.author_comment }} <br>
                                {{ item.create_date_comment }} <br>
                                {{ item.text }}
                            </ul>
                        {% endfor %}
                    <hr>
                    <form action="" id="add_form" method="post">  
                        {% csrf_token %}
                        {{form.as_p}}
                    </form>
                    <button form="add_form" type="submit" class="btn btn-primary">Комментировать</button>
                </div>
            </div>
            

           
</div>
    

{% endblock %}

{% block scripts %}
<script>
    async function likePublic(publicPK) {
        console.log(publicPK)
        var url = "{% url 'like' pk='1' %}".replace("1", publicPK)
        const response = await fetch(url, {
            method: "POST", // *GET, POST, PUT, DELETE, etc.
            headers: {
              "Content-Type": "application/json",
            },
            redirect: "follow", // manual, *follow, error
        });
        const likeCounter = await response.json() // parses JSON response into native JavaScript objects
        console.log(likeCounter.status)
        if (likeCounter.status) {
            document.getElementById(`likes_${publicPK}`).innerText=likeCounter.like_count
            document.getElementById(`dislikes_${publicPK}`).innerText=likeCounter.dislike_count
        } else {
            console.log(likeCounter.status)
        }
    }

    async function dislikePublic(publicPK) {
        console.log(publicPK)
        var url = "{% url 'dislike' pk='1' %}".replace("1", publicPK)
        const response = await fetch(url, {
            method: "POST", // *GET, POST, PUT, DELETE, etc.
            headers: {
              "Content-Type": "application/json",
            },
            redirect: "follow", // manual, *follow, error
        });
        const dislikeCounter = await response.json() // parses JSON response into native JavaScript objects
        console.log(dislikeCounter.status)
        if (dislikeCounter.status) {
            document.getElementById(`dislikes_${publicPK}`).innerText=dislikeCounter.dislike_count
            document.getElementById(`likes_${publicPK}`).innerText=dislikeCounter.like_count
        } else {
            console.log(dislikeCounter.status)
        }
    }
</script>
{% endblock %}